.Navigation {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.button-container-1 {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
  box-shadow: 0 0 30px 10px #48abe0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101%;
    height: 100%;
    font-size: 28px;

    @include button(
      #ffffff,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
      2300%,
      100%,
      none,
      #000000
    );
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
    }
  }
}

.button-container-2 {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #ffffff;
  font-family: "Lato", sans-serif;
  transition: 0.7s;
  border-radius: 8px;
  box-shadow: 0 0 30px 10px #48abe0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 28px;
    @include button(
      #ffffff,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
      3000%,
      100%,
      none,
      #000000
    );
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}

.mas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  text-align: center;
  width: 101%;
  height: 100%;
  font-weight: 300;
  position: absolute;
  font-size: 16px;
  text-shadow: 1px 1px #48abe0;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

a {
  color: #00ff95;
}

.button-container-3 {
  position: relative;
  width: 100px;
  height: 50px;

  overflow: hidden;
  border: 1px solid #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
  box-shadow: 0 0 30px 10px #48abe0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;

    @include button(
      #ffffff,
      "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
      7100%,
      100%,
      none,
      #000000
    );
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation: ani 0.7s steps(70) forwards;
    }
  }
}
